<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <div style='display:flex; flex-direction:column; justify-content:center; align-items:center; padding:15px;'>
        <div style='margin-bottom:30px;'>
            <h1>You received a comment</h1>
        </div>
        <div>
            <h4>From to {{comment.Email}}</h4>
            <p>{{comment.Text}}</p>
        </div>
    </div>
</body>
</html>